.page .tabs {
  width: 1396px;
  position: static;
  overflow: hidden;
  display: none;

  &--active {
    display: block;
  }

  @media (max-width: $vp-medium-desktop) {
    width: 1042px;
  }

  @media (max-width: $vp-small-desktop) {
    width: 688px;
  }

  @media (max-width: $vp-small-tablet - 1) {
    width: 334px;
  }

  @media (max-width: $vp-mobile) {
    width: calc(100vw - 20px);
  }
}

.tabs .tabs__arrow-button {
  width: 38px;
  height: 38px;
  border: 1px solid $color-solitude-gray;
  border-radius: 5px;
  @include smooth-transition;

  &:hover {
    box-shadow: 0 0 5px $color-aluminium-gray;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 0 1px 1px 0;
    background-color: $color-simple-black;
    position: absolute;
  }

  &::before {
    transform: rotate(45deg);
    bottom: 13.3px
  }

  &::after {
    transform: rotate(-45deg);
    top: 13.3px;
  }

  @media (max-width: $vp-mobile) {
    display: none;
  }
}

.tabs .tabs__arrow-button--next {
  transform: rotate(180deg);
}

.tabs .tabs__arrow-button--prev {
  left: -86px;
}

.tabs .tabs__arrow-button--next {
  right: -86px;
  left: auto;
}
