//Fonts
$main-font: 'Rubik', 'Arial', sans-serif;
$back: aqua;

//Colors
$color-simple-white:                  #ffffff;
$color-simple-black:                  #000000;
$color-solitude-gray:                 #ecf0f4;
$color-aluminium-gray:                #8d9295;
$color-trout-grey:                    #535658;
//UI
$color-golden-sand:                   #f1D264;
$color-cinnabar-red:                  #db3737;
$color-picton-blue:                   #5697d3;

//Viewports
$vp-mobile:                             767px;
$vp-tablet:                            1023px;
$vp-small-tablet:                       860px;
$vp-small-desktop:                     1220px;
$vp-medium-desktop:                    1570px;